<img id="pic2" src="/assets/sample.jpg"><br><br>

<h1 align="center">음식자랑대회</h1><br>

<p align="center">
 제목:<%= @food.title %> <br>
</p>

<p align="center">
 내용:<%= @food.content %> <br> <br>
</p>

<p align="center">
 <img src="<%= @food.image.url %>" onerror="this.style.display='none'" width="300px" height="200px"> <br>
</p><br>


<div align="center">
 <% if can? :update, @food %>
<form class="form-inline" role="form" action="/food/edit/<%= @food.id %>" style="display:inline-block">
 <fieldset style = "width:200" >
  <input class="form-control" type="submit" value="수정">&nbsp &nbsp
 </fieldset>
</form>
 <% end %>
 
 <% if can? :edit, @food %>
<form class="form-inline" role="form" action="/food/destroy/<%= @food.id %>" method="post" style="display:inline-block"> 
<%= hidden_field_tag :authenticity_token, form_authenticity_token %> 
 <fieldset style = "width:200" >
  <input class="form-control" type="submit" value="삭제">
 </fieldset>
</form>
 <% end %>
</div>

<form action= "/food/show/<%= @food.id %>/comments/create" method='get'>
 <input type='text' name='user_name' value='<%= current_user.name %>' disabled>
 <input type='text' name='input_comment'>
 <input type='submit' value='작성'>
</form>

<% @comments.each do |c| %>
 <p><%= c.name %></p>
 <p><%= c.content %></p>
<% end %>