<!DOCTYPE html>
<html>
  <head>
    
    <title>모두의엠티</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    
  </head>

  <body>
    <a href='/post/index'>홈으로</a> &nbsp&nbsp
    <% if user_signed_in? %>
      <%= current_user.name %>
      <%= link_to '로그아웃', destroy_user_session_path, method: :delete%>
    <% else %>
      <%= link_to '로그인', new_user_session_path %> &nbsp&nbsp
      <%= link_to '회원가입', new_user_registration_path %> &nbsp&nbsp
    <% end %>
<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>





    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    
    
  </body>
</html>